{{ define "build_role_tree" }}
layui.use(['element', 'layer', 'jquery', 'tree', 'util'], function(){
    // var mouseRightMenu = layui.mouseRightMenu,layer = layui.layer,$=layui.jquery;

    var $ = layui.$
    ,tree = layui.tree
    ,layer=layui.layer
    ,util = layui.util
    ,index = 100;

    function setHeader(xhr) {
        token = window.localStorage.getItem('token');
        console.log("token is %s", token);
        if (token){
            xhr.setRequestHeader("Authorization", "Bearer " + token);
        }
    }

    function operateTree(obj) {
        var type = obj.type;
        var data = obj.data;
        var elem = obj.elem;
        var deptId = data.id;
        var parentId = data.parentId;

        if (type === 'add') {
            $.ajax({
                type: "GET", 
                url: "/usertree/add",
                contentType: "application/json",
                beforeSend: setHeader,
                success: function(data){
                    layer.open({
                        type: 2 // iframe
                        ,title: '添加视图'
                        ,area: ['800px' ,'auto']
                        ,shade: 0
                        ,fixed: false
                        ,maxmin: true
                        ,offset: 'auto'
                        ,content: data
                        ,beforesend:  setHeader
                        //,zIndex: layer.zIndex
                        ,success: function(layero, index){
                            layer.setTop(layero);
                        }
                    });
                }
            });
        } else if (type === 'update'){
            ;
        } else if (type === 'del') {
            console.log(data['id']);
            if (data['title'] === 'guest') {
                return false;
            }
            // datatree = role_menu.get({{ .Curname }});
            role_menu.set({{ .Curname }}, ["bake"])
            ptree();
        }
        
    }

    ptree=function(){
        tree.render({
            elem: '#self-define-view'
            ,data: role_menu.get({{ .Curname }})
            ,showLine: true
            ,customOperate: true
            ,edit:['add', 'update', 'del']
            ,click: function(obj, state){
                console.log(obj);
                var dataid = $(obj)[0]["data"];
                console.log(dataid["id"]);
                if (dataid["class"] == "site_demo_active") {
                    active.onClick(dataid, state);
                }
            }
            ,operate: operateTree
            //,rightClick: function(event, obj){
            //    active.onRightClick(obj);
            //}
        });
    };

    ptree();
})
{{ end }}
    
{{ define "build_tree" }}
layui.use(['element', 'layer', 'jquery', 'tree', 'util'], function(){
    // var mouseRightMenu = layui.mouseRightMenu,layer = layui.layer,$=layui.jquery;

    var $ = layui.$
    ,tree = layui.tree
    ,layer=layui.layer
    ,util = layui.util
    ,index = 100;

    {{ range .Branches }}   
    tree.render({
        elem: '#{{ .Curname }}'
        ,data: menu.get({{ .Curname }})
        //,expandClick: false
        ,showLine: true 
        ,click: function(obj, state){
            console.log(obj);
            var dataid = $(obj)[0]["data"];
            console.log(dataid["id"]);
            if (dataid["class"] == "site_demo_active") {
                active.onClick(dataid, state);
            }
        }
        ,oncheck: function(obj, checked, child){
            if(checked){
            console.log(obj[0]);
            }
        }
        ,onsearch: function(data, num){
            console.log(num);
        }
        ,dragstart: function(obj, parent){
            console.log(obj, parent);
        }
        ,dragend: function(state, obj, target){
            console.log(state, obj, target);
        }
    });
    {{ end }}
     
    var element = layui.element;

    // 配置tab实践在下面无法获取到菜单元素
    $(".site_demo_active").on('click', function () {
        //$("body").on('click', ".site-demo-active", function () {
            var dataid = {}
            dataid.data_title = this.getAttribute("data_title")
            dataid.data_url = this.getAttribute("data_url")
            dataid.data_id = this.getAttribute("data_id")
            active.onClick(dataid, 0);
    });

    var active = {
        onRightClick: function(ele) {
            var data = {content:ele.text()}
            var menu_data=[
                {'data':data,'type':1,'title':'右键操作1'},
                {'data':data,'type':2,'title':'右键操作2'},
                {'data':data,'type':3,'title':'右键操作3'},
                {'data':data,'type':4,'title':'右键操作4'},
                
            ]
            mouseRightMenu.open(menu_data,false,function(d){
                layer.alert(JSON.stringify(d));
            })
            return false;
        },

        
        onClick: function (dataid, state) {
            console.log("site_demo_active on clicked");
            console.log(dataid)
            //if (dataid["class"] == "site_demo_active") {
                console.log(dataid["data_url"]);
                //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    //如果比零小，则直接打开新的tab项
                    active.tabAdd(dataid["data_url"], dataid["data_id"], dataid["data_title"]);
                } else {
                    //否则判断该tab项是否已经存在
                    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                        if ($(this).attr("lay-id") == dataid["data_id"]) {
                            isData = true;
                        }
                    })
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        active.tabAdd(dataid["data_url"], dataid["data_id"], dataid["data_title"]);
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid["data_id"]);
            //}
        },
        //在这里给active绑定几项事件，后面可通过active调用这些事件
        tabAdd: function (url, id, name) {
            //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data_id的属性值
            //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
            element.tabAdd('param-tab', {
                title: name,
                content: '<iframe data_frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                id: id //规定好的id
            })
            FrameWH();  //计算ifram层的大小
        },
        tabChange: function (id) {
            //切换到指定Tab项
            element.tabChange('param-tab', id); //根据传入的id传入到指定的tab项
        },
        tabDelete: function (id) {
            element.tabDelete("param-tab", id);//删除
        }
    };
    function FrameWH() {
        var h = $(window).innerHeight() - $(".layui-footer").height() 
            - $(".layui-header").height() - $(".layui-tab-title").height();
        $("iframe").css("height",h+"px");
    }
})
{{ end }}