{{ define "content-header" }}
<ul class="layui-nav layui-layout-right">>
            <li class="layui-nav-item" id="login">
                欢迎光临
            </li>
            <li class="layui-nav-item" id="logout">安全退出</li>
     </ul>       <script>
                layui.use(['element', 'layer', 'jquery', 'tree', 'util'], function(){ 
                    var bearer_token = "Bearer ";
                    var btn = document.getElementById("logout");  
                    var $ = layui.$;
                    var login = document.getElementById("login"); 
                    login.onclick =function(){  
                        $.ajax({
                            type: 'GET', // 获取头信息，type=HEAD即可
                            crossDomain: true,
                            xhrFields: {
                                withCredentials: true
                            },
                            url : "/user/login",
                            complete: function( xhr,data ){
                                // 获取相关Http Response header
                                var authorization = xhr.getResponseHeader("Authorization");
                                // 在这里，做想做的事。。。
                                console.log(authorization);
                                var items = authorization.split(" ")
                                // items[1] is token
                                window.localStorage.setItem('token', items[1]);
                                var headers = xhr.getAllResponseHeaders();//返回全部头信息,string
                                console.log(headers)
                                bearer_token = "Bearer " + items[1];
                            }
                        });
                        // $.ajax({
                            // type: "POST",
                            // url: "/user/login",
                            // success: function(data) {
                            //    console.log(data);
                            // },
                        // });
                    };
                    var logout = document.getElementById("logout"); 
                    logout.onclick =function(){  
                        $.ajax({
                            type: "GET",
                            url: "/user/logout",
                            xhrFields: {
                                withCredentials: true
                            },
                            success: function(data) {
                                console.log(data);
                            },
                            beforeSend: function(xhr) {
                                token = window.localStorage.getItem('token');
                                console.log("token is %s", token);
                                if (token){
                                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                                }
                            },
                            complete: function( xhr,data ){
                                // 将返回一个GUEST的授权
                                // 获取相关Http Response header
                                var authorization = xhr.getResponseHeader("Authorization");
                                // 在这里，做想做的事。。。
                                console.log(authorization);
                                var items = authorization.split(" ")
                                // items[1] is token
                                window.localStorage.setItem('token', items[1]);
                                window.localStorage.setItem('username', 'GUEST');
                                window.localStorage.setItem('rolename', 'GUEST');
                                var headers = xhr.getAllResponseHeaders();//返回全部头信息,string
                                console.log(headers)
                                bearer_token = "Bearer " + items[1];
                            }
                        });
                    };
                    //return false;
                    //ajax全局配置
    $.ajaxSetup({
            headers: {
                "Authorization": bearer_token
            },
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true
        });

});

            </script>
{{end}}
