<!DOCTYPE html>
<html lang="en">
<head>
    <title>goview</title>
    {{ template "header" }}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {{ template "content-header"}}
    </div>

    <div class="layui-side layui-bg-black">
        {{ template "content-left" . }}
    </div>

    <!--tab标签-->
    <div class="layui-tab" lay-filter="param-tab" lay-allowclose="true" style="margin-left: 200px;">
        {{ template "content-tab" .}}
    </div>

<div class="layui-footer" style="text-align:center;">
    <!-- 底部固定区域 -->
    {{ template "footer" .}}
</div>
</div>
<script src="/public/layui/layui.js"></script>
<script>
    {{ template "view_tree_data" .menu }}
    {{ template "build_tree" .menu }}
</script>
<!-- <script type="text/javascript" src="/public/scripts/index.js"></script> -->
</body>
</html>