<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .paras.File }}</title>
            <link rel="stylesheet" href="/public/layui/css/layui.css" />
            <script type="text/javascript" src="/public/scripts/neffos.js"></script>
    </head>
    <body>
        {{ template "websocket" .}}
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Key</th>
                    <th>名称</th>
                    <th>原始值</th>
                    <th>结果值</th>
                    <th>单位</th>
                    <th>意义</th>
                </tr> 
            </thead>
            <tbody>
                {{ range .paras.ParaList }}
                <tr id="{{.ID}}{{.ParaKey}}">
                    <td>{{ .ID }}</td>
                    <td>{{ .ParaKey }}</td>
                    <td>{{ .Name }}</td>
                    <td></td>
                    <td></td>
                    {{ if .Unit }}
                    <td>{{ .Unit }}</td>
                    {{ else }}
                    <td></td>
                    {{ end }}
                    <td></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </body>

<script>
    document.getElementById("1WABB1006").cells[3].innerHTML = "0xA0F0"
    document.getElementById("1WABB1006").cells[4].innerHTML = "535"
    timeOutAlert();
    function timeOutAlert(){
        timeOut = window.setTimeout(function(){
            console.log("time out..." + timeOut);

    document.getElementById("1WABB1006").cells[3].innerHTML = "0xA0F0"+timeOut;
    document.getElementById("1WABB1006").cells[4].innerHTML = "535"+timeOut;
            if (timeOut < 100)
                timeOutAlert();
        },100);
    }     
</script>
</html>