{{ define "loop"}}
    {{range .Branches}}
    {
        title: '{{ .Curname }}'
        ,id: {{ .Id }}
        ,spread: true 
        {{ if .Isleaf }}
            ,href: "javascript:;" 
            ,class: "site_demo_active"
            ,data_type: "tabAdd"
            ,data_title: "{{ .Curname}}"
            ,data_id: "{{.Id}}"
            ,data_url: "/tab/{{.Curdir}}"
        {{ else }}
            ,children: [
                {{ template "loop" . }}
            ],
        {{ end }}
    },
    {{end}}
{{end}}

{{ define "view_tree_data" }}
    var menu = new Map();
    {{ range .Branches }}
        var data_tmp = [
            {{ template "loop" .}} 
        ];
        menu.set({{ .Curname }}, data_tmp);
    {{ end }}
{{ end }}


{{ define "role_view_tree_data" }}
    var role_menu = new Map();
        var data_tmp = [
            {{ template "loop" .}} 
        ];
        role_menu.set({{ .Curname }}, data_tmp);
{{ end }}