{{ define "websocket"}}
<!-- the message's input -->
<input id="input" type="text" />

<!-- when clicked then an iris websocket event will be sent to the server
at this example we registered the 'chat' -->
<button id="sendBtn" onclick="send()" disabled="true">Send</button>

<!-- the messages will be shown here -->
<pre id="output"></pre>
<!-- import the iris client-side library for browser -->

<script>
    var scheme=document.location.protocol=="https:"?"wss":"ws";
    var port=document.location.port?(":"+document.location.port):"";
    // see app.Get("/echo", ws.Handler()) on main.go
    var wsURL = scheme + "://" + document.location.hostname  + port + "/echo";

    function addMessage(msg) {
        output.insertAdjacentHTML('afterbegin', msg);
    }

    function handleError(reason) {
        console.log(reason);
        window.alert(reason);
    }

    function handleNamespaceConnectedConn(nsConn) {
        nsConn.emit("chat", "{{ .paras.File }}");

        const inputTxt = document.getElementById("input");
        const sendBtn = document.getElementById("sendBtn");

        sendBtn.disabled = false;
        sendBtn.onclick = function () {
            const input = inputTxt.value
            inputTxt.value = "";

            nsConn.emit("pkg", input);
            addMessage("Me: " + input);
        };
    }

    async function runWebsocket() {
        try {
            const conn = await neffos.dial(wsURL, {
                default: { // "default" namespace.
                    _OnNamespaceConnected: function (nsConn, msg) {
                        addMessage("connected to namespace: " + msg.Namespace);
                        handleNamespaceConnectedConn(nsConn);
                    },
                    _OnNamespaceDisconnect: function (nsConn, msg) {
                        addMessage("disconnected from namespace: " + msg.Namespace);
                    },
                    {{ .paras.File }}: function (nsConn, msg) { // "pkg" event.
                        var para;
                        var strBodys = String(msg.Body).split(';');
                        for (i=0; i< strBodys.length; i++) {
                            var results = strBodys[i].split(',');
                            for (j=0; j< results.length; j++){
                                if (j > 0) {
                                    para.cells[j+2].innerHTML = results[j];
                                }
                                else {
                                    para = document.getElementById(results[j])
                                }
                            }
                        }
                    }
                }
            });

            // You can either wait to conenct or just conn.connect("connect")
            // and put the `handleNamespaceConnectedConn` inside `_OnNamespaceConnected` callback instead.
            // const nsConn = await conn.connect("default");
            // handleNamespaceConnectedConn(nsConn);
            // nsConn.emit(...); handleNamespaceConnectedConn(nsConn);
            conn.connect("default");

        } catch (err) {
            handleError(err);
        }
    }

    runWebsocket();
</script>
{{end}}